---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/shipr-test/test-repo/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_DEPLOY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1395525923'
      Etag:
      - "\"81c6376cf178c58191a0b8d9692bc30d\""
      X-Oauth-Scopes:
      - admin:repo_hook, repo_deployment
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.cannonball-preview; format=json
    body:
      encoding: UTF-8
      string: "[{\"url\":\"https://api.github.com/repos/shipr-test/test-repo/hooks/1985190\",\"test_url\":\"https://api.github.com/repos/shipr-test/test-repo/hooks/1985190/test\",\"id\":1985190,\"name\":\"web\",\"active\":true,\"events\":[\"deployment\"],\"config\":{\"url\":\"http://:1234@localhost:5000/_github\",\"content_type\":\"json\"},\"last_response\":{\"code\":404,\"status\":\"missing\",\"message\":\"Invalid
        host.\"},\"updated_at\":\"2014-03-21T20:46:59Z\",\"created_at\":\"2014-03-21T20:37:45Z\"}]"
  recorded_at: Sat, 22 Mar 2014 21:05:26 GMT
- request:
    method: post
    uri: https://api.github.com/repos/shipr-test/test-repo/deployments
    body:
      encoding: UTF-8
      string: "{\"ref\":\"develop\"}"
    headers:
      Authorization:
      - token <GITHUB_DEPLOY_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1395525923'
      X-Oauth-Scopes:
      - admin:repo_hook, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cannonball-preview; format=json
    body:
      encoding: UTF-8
      string: "{\"message\":\"No ref found for: develop\",\"documentation_url\":\"http://developer.github.com/v3\"}"
  recorded_at: Sat, 22 Mar 2014 21:05:27 GMT
recorded_with: VCR 2.8.0
