!!!
%html
  %head
    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' }
    %script{ src: 'https://d3dy5gmtp8yhk7.cloudfront.net/2.0/pusher.min.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.js' }
    %script{ src: '//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.min.js' }
    %script{ src: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js' }
    %script{ src: '//cdnjs.cloudflare.com/ajax/libs/jq-console/2.7.7/jqconsole.min.js' }

    %meta{ charset: 'utf-8' }
    %title Shipr - We'll do it live!
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'pusher.key', content: Shipr.pusher.key }

    %link{ href: '//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css', rel: 'stylesheet' }

    %link{ href: asset_path('app.css'), rel: 'stylesheet' }
    %script{ src: asset_path('app.js') }

  %body(id="app" ng-app="app" ng-init="user = #{@user.to_json}")
    %div(ui-view="header")
    %div(ui-view="content")
      #loading
        %img(src="https://s3.amazonaws.com/ejholmes.github.com/doitlive.jpg")
        .spinner

    %script(type="text/ng-template" id="header.html")
      #header.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            %a.navbar-brand(href="" ui-sref="app.jobs.list") Shipr
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.user
                %a(href="" ng-bind="user.username")
                %img.gravatar(ng-src="{{user.gravatar}}")

    %script(type="text/ng-template" id="content.html")
      .container(ui-view)

    %script(type="text/ng-template" id="jobs.html")
      %div(ui-view)
    
    %script(type="text/ng-template" id="jobs/list.html")
      %h2.page-header Deploys
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Sha
        %tbody
          %tr(ng-repeat="job in jobs | orderBy:'id':true")
            %td
              %a(href="" ui-sref="app.jobs.detail({ jobId: job.id })" ng-bind="job.id")
            %td(ng-bind="job.sha")

    %script(type="text/ng-template" id="jobs/detail.html")
      .job
        %header.job__header
          %h1.job__status
            %span(ng-class="{ 'is-queued': job.isQueued(), 'is-deploying': job.isDeploying() }" ng-if="job.isQueued() || job.isDeploying()")
              .spinner
              %span(ng-if="job.isQueued()") Queued
              %span(ng-if="job.isDeploying()") Deploying
            %span.is-done(ng-if="job.isDeployed()") Deployed
            %span.is-failed(ng-if="job.isFailed()") Failed
          %p.job__destination
            %strong(ng-bind="job.sha")
            &#8674;
            %strong(ng-bind="job.environment")

        .panel.panel-primary(ng-if="job.config")
          .panel-heading
            %span(ng-bind="job.repo")
            %a.restart.btn.btn-info.btn-xs.pull-right(href="" ng-click="restart()" ng-if="job.done") Restart
          .panel-body
            %div(environment-variables="job.config")

        .job__not-started(ng-if="!job.isStarted()")
          %strong Hang Tight!
          Your logs should be showing up shortly

        #log.job__log(ng-if="job.isStarted()" sticky="job.output" ng-bind-html="job.output | ansi")
