.page-header
  %p.lead
    %strong
      - if @job.done?
        - if @job.success?
          %span.text-success Deployed
        - else
          %span.text-error Error deploying
      - else
        %span.text-info Deploying
    #{@job.branch} to #{@job.repo}

%pre#log{ 'data-id' => @job.id }= @job.output
