.page-header
  %p.lead
    - unless @job.done?
      %img.loader{ :src => asset_path('loader.gif') }
    - if @job.done?
      - if @job.success?
        %strong.text-success Deployed
      - else
        %strong.text-error Error
        deploying
    - else
      %strong.text-info Deploying
    %strong.text-info= @job.branch
    branch to
    = @job.repo

%pre#log{ 'data-id' => @job.id, 'data-channel' => 'private-job' }= @job.output
