!!!
%html
  %head
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' }
    %script{ :src => 'https://d3dy5gmtp8yhk7.cloudfront.net/2.0/pusher.min.js' }

    %meta{ :charset => 'utf-8' }
    %title Shipr
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %meta{ :name => 'pusher.key', :content => Shipr.pusher.key }

    <!-- Loading Bootstrap -->
    %link{ :href => '/bootstrap/css/bootstrap.css', :rel => 'stylesheet' }

    %link{ :rel => 'shortcut icon', :href => 'images/favicon.ico' }

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    %link{ :href => '/assets/application.css', :rel => 'stylesheet' }
    %script{ :src => '/assets/application.js' }

  %body
    .container
      = yield
