!!!
%html
  %head
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>Flat UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    :javascript
      $(function() {
        var $code = $('code')
        var source = new EventSource($code.data('stream'))

        source.addEventListener('output', function(e) {
          var data = JSON.parse(e.data)
          var line = data.line
          $code.html($code.html() + line)
          $(document).scrollTop($(document).height())
        })
      })
  %body
    .container
      .page-header
        %h1 Shipr
        %p.lead Deploying #{@job.repo}
      = yield
