!!!
%html
  %head
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' }
    %script{ :src => 'https://d3dy5gmtp8yhk7.cloudfront.net/2.0/pusher.min.js' }

    %meta{ :charset => 'utf-8' }
    %title Shipr
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %meta{ :name => 'pusher.key', :content => Shipr.pusher.key }

    %link{ :href => '/bootstrap/css/bootstrap.css', :rel => 'stylesheet' }

    %link{ :href => '/assets/app.css', :rel => 'stylesheet' }
    %script{ :src => '/assets/app.js' }

  %body
    .container
      = yield
